/* header section  */
.header-container {
  display: flex;
  justify-content: flex-end;
  gap: 215px;
  margin-top: 110px;
  margin-right: 265px;
  margin-left: 240px;
  margin-bottom: 70px;
}

.second-header {
  flex-direction: column;
}

.second-header p {
  width: 439px;
  height: 87px;
}

.header h2 {
  color: #000;
  font-family: "PT Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.62px;
}

.second-header h3 {
  color: #000;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.second-header p {
  color: #000;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* image gallery section  */
.image-gallery p {
  color: #000;
  font-family: "PT Serif";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.image-gallery h4 {
  color: #000;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* footer  */
footer {
  color: #a9a9a9;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#username {
  color: #a9a9a9;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
